.setdescription {
  &.MuiTypography-root {
    font-size: x-large;
  }
}
.settimeanddate {
  &.MuiTypography-root {
    font-size: x-large;
  }
}
.dateandtimeinput {
  &.MuiInputBase-root {
    width: 100%;
  }
}
